{% extends "base_generic.html" %}

{% block content %}



{% if list.1.league %}
<h4> Game Info:</h4>
<h4> Team -- {{ list.1.get_team_display }} </h4>
<h4> League -- {{ list.1.get_league_display }} </h4>
<h4> Streamed -- {{ list.1.get_status_display }} </h4>
<div class="row justify-content-center">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4 class="center"> Game Info: </h4>
        <div class="card game" style="width: 450px; margin-left: auto; margin-right: auto;">
            <div class="card-header" style="text-align: center">
                This event
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item lan" style="text-align: center; border: 1px solid #FFC82E">{{list.0.startTime}} - {{list.0.endTime}}</li>
                <li class="list-group-item ndsu" style="text-align: center; border: 1px solid #FFC82E">Team: {{list.1.get_team_display}}</li>
                <li class="list-group-item game" style="text-align: center; border: 1px solid #FFC82E">League: {{list.1.get_league_display}}</li>
                <li class="list-group-item game" style="text-align: center; border: 1px solid #FFC82E">Streamed: {{list.1.get_status_display}}</li>
            </ul>
        </div>
    </div>
<div class="col-sm-4"></div>
</div>
{% endif %}

{% if list.1.location %}
<h4> Lan Info:</h4>
<h4> Location -- {{ list.1.location }} </h4>
{% endif %}

{% if list.1.signup %}
<h4> Tournament Info:</h4>
<h4> Streamed --  {{ list.1.get_status_display }} </h4>
<h4> Signup --  {{ list.1.signup }} </h4>
{% endif %}


{% if user.is_authenticated %}
<li><a href="{% url 'event-update' list.0.eventID %}">Update event</a></li>
<li><a href="{% url 'event-delete' list.0.eventID %}">Delete event</a></li>
{% endif %}

{% endblock %}