{% extends "stats_generic.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-10">      
<nav style="margin-left: 15px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'go-home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'stats-home' %}">LAN Stats</a></li>
      <li class="breadcrumb-item"><a href="{% url 'game-list' %}">LAN Games</a></li>
      <li class="breadcrumb-item active" aria-current="page">Game View</li>
    </ol> 
</nav>
</div>
<div class="col-sm-2" style="text-align: right;">
    {% if user.is_authenticated %}
        <span class="navbar-text">
          <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-link ndsu" style="margin-right: 15px;">Logout</button>
          </form>
        </span>
        {% else %}
        <a class="btn ndsu" href="{% url 'login' %}?next={{ request.path }}" role="button" style="margin-right: 15px;">Officer Login</a>
        {% endif %}
</div>
</div>
<hr>
{% if list %}
<table>
    <tr>
        <th class="free center {% if list.0.winner == True %} blue_team {% else %} red_team {% endif %}" colspan="4"><a class="nav-link" href="{{ list.0.get_absolute_url }}"> Game Winner : {{list.0}} </a></th>
    </tr>
        <tr class="center" style="background-color: gold;"><th>Name</th><th>KDA</th><th>Gold</th><th>Damage</th></tr>
        <tr class="blue_team"><td>{{list.1.player}}</td><td class="center">{{list.1.kills}}/{{list.1.deaths}}/{{list.1.assists}}</td><td class="center">{{list.1.gold}}</td><td class="center">{{list.1.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.1.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="blue_team"><td>{{list.2.player}}</td><td class="center">{{list.2.kills}}/{{list.2.deaths}}/{{list.2.assists}}</td><td class="center">{{list.2.gold}}</td><td class="center">{{list.2.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.2.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="blue_team"><td>{{list.3.player}}</td><td class="center">{{list.3.kills}}/{{list.3.deaths}}/{{list.3.assists}}</td><td class="center">{{list.3.gold}}</td><td class="center">{{list.3.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.3.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="blue_team"><td>{{list.4.player}}</td><td class="center">{{list.4.kills}}/{{list.4.deaths}}/{{list.4.assists}}</td><td class="center">{{list.4.gold}}</td><td class="center">{{list.4.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.4.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="blue_team"><td>{{list.5.player}}</td><td class="center">{{list.5.kills}}/{{list.5.deaths}}/{{list.5.assists}}</td><td class="center">{{list.5.gold}}</td><td class="center">{{list.5.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.5.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="red_team"><td>{{list.6.player}}</td><td class="center">{{list.6.kills}}/{{list.6.deaths}}/{{list.6.assists}}</td><td class="center">{{list.6.gold}}</td><td class="center">{{list.6.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.6.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="red_team"><td>{{list.7.player}}</td><td class="center">{{list.7.kills}}/{{list.7.deaths}}/{{list.7.assists}}</td><td class="center">{{list.7.gold}}</td><td class="center">{{list.7.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.7.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="red_team"><td>{{list.8.player}}</td><td class="center">{{list.8.kills}}/{{list.8.deaths}}/{{list.8.assists}}</td><td class="center">{{list.8.gold}}</td><td class="center">{{list.8.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.8.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="red_team"><td>{{list.9.player}}</td><td class="center">{{list.9.kills}}/{{list.9.deaths}}/{{list.9.assists}}</td><td class="center">{{list.9.gold}}</td><td class="center">{{list.9.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.9.instanceid }}">Edit</a></td>{% endif %}</tr>
        <tr class="red_team"><td>{{list.10.player}}</td><td class="center">{{list.10.kills}}/{{list.10.deaths}}/{{list.10.assists}}</td><td class="center">{{list.10.gold}}</td><td class="center">{{list.10.damage}}</td>{% if user.is_authenticated %}<td><a href="/stats/stats_home/player/instance/{{ l.10.instanceid }}">Edit</a></td>{% endif %}</tr>
    </br>
    </table>
    {% if user.is_authenticated %}
    <li><a href="{% url 'game-update' list.0.gameid %}">Update game</a></li>
    <li><a href="{% url 'game-delete' list.0.gameid %}">Delete game</a></li>
    {% endif %}

{% else %}
<p>No game found.</p>
{% endif %}
{% endblock %}