
<table>
    <tr>
        <th><a class="nav-link" href="{{ list.0.get_absolute_url }}"> Game Winner : {{list.0}} </a></th>
    </tr>
        <tr><td>Name</td><td>KDA</td><td>Gold</td><td>Damage</td></tr>
        <tr><td>{{list.1.player}}</td><td>{{list.1.kills}}/{{list.1.deaths}}/{{list.1.assists}}</td><td>{{list.1.gold}}</td><td>{{list.1.damage}}</td></tr>
        <tr><td>{{list.2.player}}</td><td>{{list.2.kills}}/{{list.2.deaths}}/{{list.2.assists}}</td><td>{{list.2.gold}}</td><td>{{list.2.damage}}</td></tr>
        <tr><td>{{list.3.player}}</td><td>{{list.3.kills}}/{{list.3.deaths}}/{{list.3.assists}}</td><td>{{list.3.gold}}</td><td>{{list.3.damage}}</td></tr>
        <tr><td>{{list.4.player}}</td><td>{{list.4.kills}}/{{list.4.deaths}}/{{list.4.assists}}</td><td>{{list.4.gold}}</td><td>{{list.4.damage}}</td></tr>
        <tr><td>{{list.5.player}}</td><td>{{list.5.kills}}/{{list.5.deaths}}/{{list.5.assists}}</td><td>{{list.5.gold}}</td><td>{{list.5.damage}}</td></tr>
        <tr><td>{{list.6.player}}</td><td>{{list.6.kills}}/{{list.6.deaths}}/{{list.6.assists}}</td><td>{{list.6.gold}}</td><td>{{list.6.damage}}</td></tr>
        <tr><td>{{list.7.player}}</td><td>{{list.7.kills}}/{{list.7.deaths}}/{{list.7.assists}}</td><td>{{list.7.gold}}</td><td>{{list.7.damage}}</td></tr>
        <tr><td>{{list.8.player}}</td><td>{{list.8.kills}}/{{list.8.deaths}}/{{list.8.assists}}</td><td>{{list.8.gold}}</td><td>{{list.8.damage}}</td></tr>
        <tr><td>{{list.9.player}}</td><td>{{list.9.kills}}/{{list.9.deaths}}/{{list.9.assists}}</td><td>{{list.9.gold}}</td><td>{{list.9.damage}}</td></tr>
        <tr><td>{{list.10.player}}</td><td>{{list.10.kills}}/{{list.10.deaths}}/{{list.10.assists}}</td><td>{{list.10.gold}}</td><td>{{list.10.damage}}</td></tr>
    <tr><td></br></td></tr>
    </table>