{% extends "stats_generic.html" %}
{% block content %}
{% if list %}
<nav style="margin-left: 15px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'go-home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'stats-home' %}">LAN Stats</a></li>
      <li class="breadcrumb-item"><a href="{% url 'player-list' %}">Player Stats</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{list.0}} Stats</li>
    </ol> 
</nav>
<hr>
<table class="ndsu">
    <tr>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Gold</th>
        <th>DMG</th>
        <th>Wins</th>
        <th>Losses</th>
    </tr>
<tr>
    <td>
        <a class="nav-link" href="{{ l.0.get_absolute_url }}"> {{list.0}} </a>
    </td>
    <td>{{list.1}}</td>
    <td>{{list.2}}</td>
    <td>{{list.3}}</td>
    <td>{{list.4}}</td>
    <td>{{list.5}}</td>
    <td>{{list.6}}</td>
    <td>{{list.7}}</td>
</table>

{% if user.is_authenticated %}
    <li><a href="{% url 'player-update' list.0.playerid %}">Update player</a></li>
    <li><a href="{% url 'player-delete' list.0.playerid %}">Delete player</a></li>
{% endif %}

{% else %}
<p> 
    No player found. <a href="{% url 'player-list' %}"> View Players </a>
</p>

{% endif %}
{% endblock %}