{% extends "base_generic.html" %}

{% block content %}
<h1>Who are we?</h1>
<body>
    Our club was founded in 2017 by Riley Abrahamson, and was one of the first Esport-focused clubs to be created at NDSU.
    Since the beginning, our goal has been to connect people in an open and accepting environment that is focused around fun and meeting people with similar interests.
    What started as a small discord with only a handful of members quickly blossomed into a large online community of over 250 people.
    As a club, we aim to provide this community with ways to enjoy League of Legends both casually and competitively.
<body>
<h1>What we do?</h1>
<body>
    As a club, we try to provide opportunities for members to interact and have fun.
    Each semester we host 2-3 competitive tournaments with prize rewards for top teams, as well as bi-weekly LAN events where students can play for-fun games in person at NDSU's Esports lab.
    We also host viewing parties for other league-related events such as Arcane, the LCS Finals, or the Worlds tournament if members are interested.
    Whether you're a seasoned veteran, only play casually, or are just interested in anything League-related, we will probably have a way for you to join in on the fun.    
<body>
<img src="https://images.squarespace-cdn.com/content/v1/61fb0e92df23c63cdc2b1536/c385f1e3-9f29-431f-a286-cfa35c15d984/discord-logo-logodownload-download-logotipos-1.png">
<img src="https://images.squarespace-cdn.com/content/v1/61fb0e92df23c63cdc2b1536/f7b4232b-b3a6-446f-9e63-1c4a5a50c29c/purple-twitch-logo-circle-round-17180.png">
<img src="https://images.squarespace-cdn.com/content/v1/61fb0e92df23c63cdc2b1536/5642f8ec-56d0-4d67-846b-6a39b17a5f63/play-button-4209.png">
{% endblock %}