{% extends "base_generic.html" %}

{% block content %}
<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/attachments/1184311831465046066/1232850620306952202/PXL_20240425_001552666.jpg?ex=66377b5d&is=663629dd&hm=b8e318134e542427f8a20c99911bdd087bd834835dbf7039ffbafe89b8a2def4&" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">President</h5>
              <h6 class="card-subtitle">Brayden Meduna</h6>
              <p class="card-text">This is some information about this officer and what they do/major/and are in the club for. This is placeholder text that is just a little more specific than lorem ipsum etc.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/attachments/1184311831465046066/1232850620306952202/PXL_20240425_001552666.jpg?ex=66377b5d&is=663629dd&hm=b8e318134e542427f8a20c99911bdd087bd834835dbf7039ffbafe89b8a2def4&" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vice-President</h5>
              <h6 class="card-subtitle">Jackson Naumann</h6>
              <p class="card-text">This is some information about this officer and what they do/major/and are in the club for. This is placeholder text that is just a little more specific than lorem ipsum etc.</p>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/attachments/1184311831465046066/1232850620306952202/PXL_20240425_001552666.jpg?ex=66377b5d&is=663629dd&hm=b8e318134e542427f8a20c99911bdd087bd834835dbf7039ffbafe89b8a2def4&" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Treasurer</h5>
                <h6 class="card-subtitle">Adam Bitz</h6>
                <p class="card-text">This is some information about this officer and what they do/major/and are in the club for. This is placeholder text that is just a little more specific than lorem ipsum etc.</p>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/attachments/1184311831465046066/1232850620306952202/PXL_20240425_001552666.jpg?ex=66377b5d&is=663629dd&hm=b8e318134e542427f8a20c99911bdd087bd834835dbf7039ffbafe89b8a2def4&" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Secretary</h5>
                <h6 class="card-subtitle">Ethan Renwick</h6>
                <p class="card-text">This is some information about this officer and what they do/major/and are in the club for. This is placeholder text that is just a little more specific than lorem ipsum etc.</p>
              </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 15rem;">
            <img src="https://cdn.discordapp.com/attachments/1184311831465046066/1232850620306952202/PXL_20240425_001552666.jpg?ex=66377b5d&is=663629dd&hm=b8e318134e542427f8a20c99911bdd087bd834835dbf7039ffbafe89b8a2def4&" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Competitive Team Manager</h5>
                <h6 class="card-subtitle">Alison Reynolds</h6>
                <p class="card-text">This is some information about this officer and what they do/major/and are in the club for. This is placeholder text that is just a little more specific than lorem ipsum etc.</p>
              </div>
          </div>
      </div>
    </div>
  </div>

{% endblock %}
  