.imglink{
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;  
}

th{
    border: 1px solid black;
    text-align: center; 
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

table{
    border: 1px solid black;
    margin-left:auto;
    margin-right: auto;
}

td {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.blue_team{
    background-color: cornflowerblue;
}

.red_team{
    background-color: crimson;
}

.ndsu{
    background-color: #005643;
    color: #FFC82E;
}

.game{
    background-color: purple;
    color: #FFC82E;
}

.lan{
    background-color: #005643;
    color: #FFC82E;
}

.tournament{
    background-color: dodgerblue;
    color: crimson;
}


body{
    background-image: url('https://media.discordapp.net/attachments/1203520214013186098/1236773605577199626/Screenshot_2024-05-05_15-16-28.png?ex=66393aad&is=6637e92d&hm=0297f355a9e9d6de8f40dacf7d335fc91f039c2aaa0ff4e687558841ca275e9f&=&format=webp&quality=lossless&width=1191&height=670');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

