{% extends "stats_generic.html" %}
{% block content %}
{% if list %}


{% for l in list %}
<table>
<tr>
    <th><a class="nav-link" href="{{ l.0.get_absolute_url }}"> Game Winner : {{l.0}} </a></th>
</tr>
<tr>
    <td>Name</td>
    <td>{{l.1.player}}</td>
    <td>{{l.2.player}}</td>
    <td>{{l.3.player}}</td>
    <td>{{l.4.player}}</td>
    <td>{{l.5.player}}</td>
    <td>{{l.6.player}}</td>
    <td>{{l.7.player}}</td>
    <td>{{l.8.player}}</td>
    <td>{{l.9.player}}</td>
    <td>{{l.10.player}}</td>
<tr>
    <td>KDA</td>    
    <td>{{l.1.kills}}/{{l.1.deaths}}/{{l.1.assists}}</td>
    <td>{{l.2.kills}}/{{l.2.deaths}}/{{l.2.assists}}</td>
    <td>{{l.3.kills}}/{{l.3.deaths}}/{{l.3.assists}}</td>
    <td>{{l.4.kills}}/{{l.4.deaths}}/{{l.4.assists}}</td>
    <td>{{l.5.kills}}/{{l.5.deaths}}/{{l.5.assists}}</td>
    <td>{{l.6.kills}}/{{l.6.deaths}}/{{l.6.assists}}</td>
    <td>{{l.7.kills}}/{{l.7.deaths}}/{{l.7.assists}}</td>
    <td>{{l.8.kills}}/{{l.8.deaths}}/{{l.8.assists}}</td>
    <td>{{l.9.kills}}/{{l.9.deaths}}/{{l.9.assists}}</td>
    <td>{{l.10.kills}}/{{l.10.deaths}}/{{l.10.assists}}</td>
<tr>
    <td>Gold</td>
    <td>{{l.1.gold}}</td>
    <td>{{l.2.gold}}</td>
    <td>{{l.3.gold}}</td>
    <td>{{l.4.gold}}</td>
    <td>{{l.5.gold}}</td>
    <td>{{l.6.gold}}</td>
    <td>{{l.7.gold}}</td>
    <td>{{l.8.gold}}</td>
    <td>{{l.9.gold}}</td>
    <td>{{l.10.gold}}</td>
<tr>
    <td>Damage</td>
    <td>{{l.1.damage}}</td>
    <td>{{l.2.damage}}</td>
    <td>{{l.3.damage}}</td>
    <td>{{l.4.damage}}</td>
    <td>{{l.5.damage}}</td>
    <td>{{l.6.damage}}</td>
    <td>{{l.7.damage}}</td>
    <td>{{l.8.damage}}</td>
    <td>{{l.9.damage}}</td>
    <td>{{l.10.damage}}</td>
<tr>
    <td></br></td>
</tr>
</table>
{% endfor %}

{% else %}
<p> 
    No games
</p>

{% endif %}
{% endblock %}