{% extends "stats_generic.html" %}
{% block content %}
<nav style="margin-left: 15px;" aria-label="breadcrumb">
    <ol class="breadcrumb ndsu">
      <li class="breadcrumb-item"><a href="{% url 'go-home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'stats-home' %}">LAN Stats</a></li>
      <li class="breadcrumb-item ndsu" aria-current="page">LAN Games</li>
    </ol> 
  </nav>
  <hr>
{% if list %}


{% for l in list %}
<a class="nav-link" href="{{ l.0.get_absolute_url }}">
<table>
<tr>
    <th class="free center {% if l.0.winner == True %} blue_team {% else %} red_team {% endif %}" colspan="4"> Game Winner : {{l.0}}</th>
</tr>
    <tr class="center" style="background-color: gold;"><th>Name</th><th>KDA</th><th>Gold</th><th>Damage</th></tr>
    <tr class="blue_team"><td>{{l.1.player}}</td><td class="center">{{l.1.kills}}/{{l.1.deaths}}/{{l.1.assists}}</td><td class="center">{{l.1.gold}}</td><td class="center">{{l.1.damage}}</td></tr>
    <tr class="blue_team"><td>{{l.2.player}}</td><td class="center">{{l.2.kills}}/{{l.2.deaths}}/{{l.2.assists}}</td><td class="center">{{l.2.gold}}</td><td class="center">{{l.2.damage}}</td></tr>
    <tr class="blue_team"><td>{{l.3.player}}</td><td class="center">{{l.3.kills}}/{{l.3.deaths}}/{{l.3.assists}}</td><td class="center">{{l.3.gold}}</td><td class="center">{{l.3.damage}}</td></tr>
    <tr class="blue_team"><td>{{l.4.player}}</td><td class="center">{{l.4.kills}}/{{l.4.deaths}}/{{l.4.assists}}</td><td class="center">{{l.4.gold}}</td><td class="center">{{l.4.damage}}</td></tr>
    <tr class="blue_team"><td>{{l.5.player}}</td><td class="center">{{l.5.kills}}/{{l.5.deaths}}/{{l.5.assists}}</td><td class="center">{{l.5.gold}}</td><td class="center">{{l.5.damage}}</td></tr>
    <tr class="red_team"><td>{{l.6.player}}</td><td class="center">{{l.6.kills}}/{{l.6.deaths}}/{{l.6.assists}}</td><td class="center">{{l.6.gold}}</td><td class="center">{{l.6.damage}}</td></tr>
    <tr class="red_team"><td>{{l.7.player}}</td><td class="center">{{l.7.kills}}/{{l.7.deaths}}/{{l.7.assists}}</td><td class="center">{{l.7.gold}}</td><td class="center">{{l.7.damage}}</td></tr>
    <tr class="red_team"><td>{{l.8.player}}</td><td class="center">{{l.8.kills}}/{{l.8.deaths}}/{{l.8.assists}}</td><td class="center">{{l.8.gold}}</td><td class="center">{{l.8.damage}}</td></tr>
    <tr class="red_team"><td>{{l.9.player}}</td><td class="center">{{l.9.kills}}/{{l.9.deaths}}/{{l.9.assists}}</td><td class="center">{{l.9.gold}}</td><td class="center">{{l.9.damage}}</td></tr>
    <tr class="red_team"><td>{{l.10.player}}</td><td class="center">{{l.10.kills}}/{{l.10.deaths}}/{{l.10.assists}}</td><td class="center">{{l.10.gold}}</td><td class="center">{{l.10.damage}}</td></tr>
</br>
</table>
</a>
{% endfor %}

{% else %}
<p> 
    No games
</p>

{% endif %}
{% endblock %}