{% extends "stats_generic.html" %}
{% block title %}
    <title>Player Stats</title>
{% endblock %}
{% block content %}
<div class="row">
        <div class="col-sm-10">
            <nav style="margin-left: 15px;" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'go-home' %}">Home</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'stats-home' %}">LAN Stats</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Player Stats</li>
                </ol> 
      </nav>
    </div>
    <div class="col-sm-2" style="text-align: right;">
        {% if user.is_authenticated %}
            <span class="navbar-text">
              <form id="logout-form" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link ndsu" style="margin-right: 15px;">Logout</button>
              </form>
            </span>
            {% else %}
            <a class="btn ndsu" href="{% url 'login' %}?next={{ request.path }}" role="button" style="margin-right: 15px;">Officer Login</a>
            {% endif %}
    </div>
    </div>
<hr>
{% if list %}
<table class="ndsu">
    <tr>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Gold</th>
        <th>DMG</th>
    </tr>
{% for l in list %}
<tr>
    <td>
        <a class="nav-link" href="{{ l.0.get_absolute_url }}"> {{l.0}} </a>
    </td>
    <td class="center">{{l.1}}</td>
    <td class="center">{{l.2}}</td>
    <td class="center">{{l.3}}</td>
    <td class="center">{{l.4}}</td>
    <td class="center">{{l.5}}</td>



{% endfor %}
</table>
{% else %}
<p> 
    No games
</p>

{% endif %}

{% endblock %}