{% extends "stats_generic.html" %}
{% block title %}
    <title>Player Stats</title>
{% endblock %}
{% block content %}
<nav style="margin-left: 15px;" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'go-home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'stats-home' %}">LAN Stats</a></li>
      <li class="breadcrumb-item active" aria-current="page">Player Stats</li>
    </ol> 
</nav>
<hr>
{% if list %}
<table class="ndsu">
    <tr>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Gold</th>
        <th>DMG</th>
    </tr>
{% for l in list %}
<tr>
    <td>
        <a class="nav-link" href="{{ l.0.get_absolute_url }}"> {{l.0}} </a>
    </td>
    <td class="center">{{l.1}}</td>
    <td class="center">{{l.2}}</td>
    <td class="center">{{l.3}}</td>
    <td class="center">{{l.4}}</td>
    <td class="center">{{l.5}}</td>



{% endfor %}
</table>
{% else %}
<p> 
    No games
</p>

{% endif %}

{% endblock %}