{% extends "stats_generic.html" %}
{% block content %}
{% if list %}
<table>
    <tr>
        <th>Player Name</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Assists</th>
        <th>Gold</th>
        <th>DMG</th>
    </tr>
{% for l in list %}
<tr>
    <td>
        <a class="nav-link" href="{{ l.0.get_absolute_url }}"> {{l.0}} </a>
    </td>
    <td class="center">{{l.1}}</td>
    <td class="center">{{l.2}}</td>
    <td class="center">{{l.3}}</td>
    <td class="center">{{l.4}}</td>
    <td class="center">{{l.5}}</td>



{% endfor %}
</table>
{% else %}
<p> 
    No games
</p>

{% endif %}

{% endblock %}